{% extends 'base.html' %}

{% block title %}
    {% if current_employee %}
    {{ current_employee.username }} |  Academe TS
    {% else %}
    Log In |  Academe TS
    {% endif %}
{% endblock %}

{% block nav %}
    <nav class="navbar navbar-dark navbar-expand-lg navbar-custom">
        <div class="container-fluid">

            <div class="nav-logo navbar-brand">
                <img src="/static/images/icon-1.png" width="42" height="30" class="align-top">
                <span class="h3">Academe TS</span>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto ml-auto">
                    {% if current_employee %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ current_employee.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'logout' %}"><span class="text-secondary"><i class="fas fa-sign-out-alt"></i> | Log Out</span></a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/"> <i class="fas fa-sign-in-alt"></i> | Log In</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    {% if current_employee %}
    <div class="category-header">
        <div class="text-section">
            <p class="welcome-text">Welcome, <b>{{ current_employee.username }}!</b></p>
            <h1><b>Timekeeping</b></h1>
        </div>
        <img src="/static/images/3d-1.png" alt="Employee Icon">
    </div>
    {% else %}
    <div class="category-header">
        <div class="text-section">
            <h1><b>Timekeeping</b></h1>
        </div>
        <img src="/static/images/3d-1.png" alt="Employee Icon">
    </div>
    {% endif %}

    <div class="d-flex justify-content-center">
        <div id="clock" class="clock col-sm-5 shadow">
                <h1><i class='far fa-clock'></i></h1><div id="time" class="time"></div>
            <div id="date" class="date"></div>
        </div>
    </div>

    {% if error_message %}
    <div class="alert alert-warning error-message text-center mt-3">
        <i class="fas fa-exclamation-triangle"></i> {{ error_message }}
    </div>    
    {% endif %}


    {% if not current_employee %}
    <form method="post">
        <div class="form-group">
           
            {% csrf_token %}
            <input class="form-control" type="text" name="username" placeholder="Enter Username" required>
            <div class="password-container">
                <div class="input-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                    <div class="input-group-append">
                        <span class="input-group-text bg-white">
                            <i id="eye-icon" class="fas fa-eye" onclick="togglePassword()" style="cursor: pointer;"></i>
                        </span>
                    </div>
                </div>
            </div><br>          
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
        {% endif %}

        {% if current_employee %}
        <div>
            <div class="mt-5 mb-4 text-center {% if status == 'Clocked In' %}status-active{% elif status == 'Clocked Out' %}status-inactive{% else %}status-pending{% endif %}">
                <span class="status-text-area-1 h5 py-3 px-2">
                    <span class="status-icon text-secondary"><i class="fas fa-info-circle"></i></span> <span class="py-2 px-3 status-text text-secondary">{{ status }}</span>
                </span>
            </div>
        
            {% with latest_record=time_records.first %}
            {% if latest_record and latest_record.lunch_start and not latest_record.lunch_end %}
            <div class="mt-5 mb-5 text-center status-indicator lunch-active">
                <span class="status-text-area-2 h5 py-3 px-2">
                    <span class="status-icon text-secondary"><i class="fas fa-utensils"></i></span> <span class="py-2 px-3 status-text text-secondary">On Lunch Break</span>
                </span>
            </div>
            {% endif %}
            {% endwith %}
        
            <form method="post" class="px-0 pb-2">
                {% csrf_token %}
                <input type="hidden" name="employee" value="{{ current_employee.id }}">
                <input type="hidden" name="password" value="{{ current_employee.password }}">
        
                <div class="d-flex flex-column flex-md-row gap-2">
                    <button class="btn btn-lg btn-success px-4 pt-3 pb-2 m-1 flex-fill tall-btn success-custom" name="action" value="clock_in">
                        <span class="h4">
                            <i class="fas fa-door-open"></i> | <b>CLOCK IN</b>
                        </span>
                    </button>

                    <button class="btn btn-lg btn-danger pt-3 pb-2 m-1 flex-fill tall-btn danger-custom" name="action" value="clock_out">
                        <span class="h4">
                            <i class="fas fa-door-closed"></i> | <b>CLOCK OUT</b>
                        </span>
                    </button>

                    <button class="btn btn-lg btn-warning px-2 pt-3 pb-2 m-1 flex-fill text-uppercase tall-btn warning-custom" name="action" value="lunch_toggle">
                        <span class="h4">
                            <i class="fas fa-utensils"></i> | <b>{{ lunch_button_label }}</b>
                        </span>
                    </button>
                </div>
            </form>
        </div>
        
    <div class="card shadow mb-4">
        <div class="card-header bg-secondary py-3">
            <h5 class="m-0 font-weight-bold text-light text-center">Time-in/Time-out Record</h5>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered" id="dataTable" width="100%">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Employee</th>
                            <th>Clock In</th>
                            <th>Clock Out</th>
                            <th>Lunch Break Hours</th>
                            <th>Total Hours</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for record in time_records %}
                        <tr>
                            <td>{{ record.date }}</td>
                            <td>{{ record.employee.username }}</td>
                            <td>{{ record.clock_in|time:"g:i A"|default:"None" }}</td>
                            <td>{{ record.clock_out|time:"g:i A"|default:"None" }}</td>
                            <td>{{ record.lunch_break_duration|default:"None" }}</td>
                            <td>{{ record.total_hours|default:"None" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
       

    {% endif %}
{% endblock %}