{% extends 'base.html' %}

{% block title %}
    Forgot Password | GOCLOUD Timekeeping System
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="col-xl-4">
            <div class="change-pw-form">
                <div class="card">                    
                    <div class="card-body m-3">
                        <h2 class="font-weight-bold text-secondary text-center">
                            Forgot Password?
                        </h2>
                        <hr>

                        <div class="d-flex justify-content-center mt-5">
                            <img src="/static/images/3d-16.png" width="150">
                        </div>

                        <div class="mt-5 mb-5">
                            <p class="text-secondary text-center">
                                Kindly input your email address in the provided field below to gain back access to your account.
                            </p>
                        </div>

                        {% if error_message %}
                            <div class="alert alert-danger text-center">
                                <i class="fas fa-exclamation-triangle"></i> {{ error_message }}
                            </div>
                        {% endif %}
                        {% if success_message %}
                            <div class="alert alert-success text-center">
                                <i class="fas fa-check-circle"></i> {{ success_message }}
                            </div>
                        {% endif %}
                        
                        <form method="post">
                            {% csrf_token %}
                            
                            <div class="form-group position-relative mb-3">
                                <label class="font-weight-bold text-secondary">Email Address</label>
                                
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text font-weight-bold">@</span>
                                    </div>

                                    <input type="email" name="email" class="form-control" required>
                                </div>
                            </div>
                            <hr>
                            
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-envelope"></i> Send Reset Code
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div>
        <footer class="footer-custom text-white mt-auto">
            <div class="footer-content-area text-center p-3">

                <div class="footer-logos d-flex justify-content-center mt-2 mb-2">
                    <img src="/static/images/gc.png" alt="GC Logo" class="logo-img-gc mt-2 mx-2">
                </div>

                <div class="footer-copyright text-center text-dark p-3">
                    © 2025 
                    <a class="gc-link text-dark mb-2" href="https://gocloudgroup.com/">GOCLOUD Inc.</a>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}