@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

body {
    background-image: 
        url('/static/images/bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main {
    flex-grow: 1;
    padding-bottom: 20px;
}

.content-wrapper {
    flex-grow: 1;
    padding-bottom: 80px;
}

.footer-custom {
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: auto;
}

.footer-content-area, .footer-copyright {
    background-color: #c1c1c1;
}

.container { 
    max-width: 1200px; 
    margin: 0 auto; 
}

#clock { 
    font-size: 20px; 
    margin: 15px 0; 
}

.btn-custom { 
    padding: 8px 15px; 
    margin: 5px; 
    color: rgb(5, 5, 5); 
    border: none; 
    cursor: pointer; 
}

.disabled { 
    opacity: 0.5; pointer-events: none; 
}

select, .password-container input[type="password"], .password-container input[type="text"] {
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
    height: 40px;  
}

.password-container {
    width: 100%;
    max-width: 400px;
}

.eye-icon {
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s ease-in-out;
}

.navbar-custom {
    background-color: #343a40;
}

.nav-logo {
    color: #fff;
    margin: 5px;
}

.clock {
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 24px;
    display: inline-block;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #007bff, #18bc9c);
}

.time {
    font-size: 4rem;
    font-weight: bold;
}

.date {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #007bff;
    border: #007bff;
}

#btn-back-to-top:hover {
    background-color: #18bc9c;
    border: #18bc9c;
}

#btn-back-to-top:active {
    background-color: #139b80;
    border: #139b80;
}

.navbar .dropdown-menu {
    right: 0;
    left: auto;
    max-width: 225px;
    white-space: nowrap;
}

.logo-img-ats, .logo-img-gc {
    width: auto;
}

.logo-img-ats {
    height: 35px;
}

.logo-img-gc {
    height: 50px;
}

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex-grow: 1;
    padding-bottom: 80px;
}

.footer-custom {
    width: 100%;
    margin-top: auto;
    position: relative;
}

.footer-content-area, .footer-copyright {
    background-color: #c1c1c1;
}

.gc-link:hover {
    font-weight: bold;
    text-decoration: none;
}

.category-header, .category-header-2, .category-header-3, .category-header-4, .category-header-5 {
    border-radius: 24px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: 20px auto;
}

.category-header {
    background: linear-gradient(to right, #89c2d9, #a3d9a5);
}

.category-header-2, .category-header-5 {
    background: linear-gradient(to right, #5f9eff, #a8cfff);
}

.category-header-3 {
    background: linear-gradient(to right, #3ca6b6, #9ad2de);
}

.category-header-4 {
    background: linear-gradient(to right, #4eb761, #99db9c);
}

.text-section {
    padding-left: 20px;
}

.welcome-text {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
    opacity: 0.8;
    margin-bottom: 0;
}

.category-header h1, .category-header-2 h1, .category-header-3 h1, .category-header-4 h1, .category-header-5 h1 {
    margin: 5px 0 0;
}

.category-header img, .category-header-2 img, .category-header-3 img, .category-header-4 img, .category-header-5 img {
    height: 150px;
    width: auto;
    padding-right: 20px;
}

.employee-info {
    background: #f8f9fa;
    border-left: 5px solid #6c757d;
    padding: 15px 20px;
    margin: 20px auto;
    width: 559px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.user-info, .change-pw-form {
    background: #f8f9fa;
    border: 2px solid #efefef;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.user-info {
    max-width: 100%;
}

.change-pw-form {
    max-width: 446px;
}

.employee-info p {
    font-size: 1.1rem;
    color: #333;
    margin: 5px 0;
}

.employee-title {
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #007bff;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 1.5rem;
}

.tall-btn {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px !important;
}

.success-custom {
    background: linear-gradient(135deg, #28a745, #1e7e34);
}

.danger-custom {
    background: linear-gradient(135deg, #dc3545, #a71d2a);
}

.warning-custom {
    background: linear-gradient(135deg, #ffc107, #ff9800);
}

.success-custom:hover {
    background: linear-gradient(135deg, #1e7e34, #155d27);
}

.danger-custom:hover {
    background: linear-gradient(135deg, #a71d2a, #79151d);
}

.warning-custom:hover {
    background: linear-gradient(135deg, #ff9800, #cc7a00);
}

.status-text-area-1, .status-text-area-2, .status-text-area-3 {
    border-radius :30px;
}

.status-text-area-1 {
    background-color:#8cc4d3;
}

.status-text-area-2 {
    background-color:#a2d8a7;
}

.status-text-area-3 {
    background: linear-gradient(to right, #89c2d9, #a3d9a5);
}

.status-text {
    background-color: #fff;
    border-radius :20px;
}

.status-icon {
    background-color: #fff;
    padding: 1px 6px;
    border-radius: 50px;
}

.sorry-area {
    padding-top: 20px;
}

.sorry-img {
    width: 20%;
}

.add-employee-modal {
    background: linear-gradient(to right, #5f9eff, #a8cfff);
}

.add-record-modal {
    background: linear-gradient(to right, #3ca6b6, #9ad2de);
}

.login-form-custom {
    max-width: 100%;
}

.login-form-custom-container, .login-form-custom-container-2, .login-form-custom-container-3 {
    max-width: 500px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-custom-container {
    background-color: #fff;
    border-radius: 10px 0px 0px 10px;
}

.login-form-custom-container-2, .login-form-custom-container-3 {
    border-radius: 0px 10px 10px 0px;
    justify-content: center;
}

.login-form-custom-container-2 {
    background: linear-gradient(to right, #4f8bd9, #51aae5);
}

.login-form-custom-container-3 {
    background: linear-gradient(to right, #4eb761, #99db9c);
}

.login-logo { 
    width: 290px;
}

.login-logo-2 { 
    width: 150px;
}

.timekeeping-icon {
    max-width: 80%;
    height: auto;
    margin-top: 20px;
}

.login-button {
    border-radius: 7px;
}

.card-header-custom {
    padding: .6rem 1rem !important;
}

.card-body-custom {
    font-size: 0.9rem !important;
    padding: 0.7rem !important;
}

.login-copyright-1 {
    font-size: 0.8rem;
}

a.login-copyright-2 {
    font-weight:400;
    font-size: 13px;
    list-style-type: none;
}

a.login-copyright-2:hover {
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 1371px) {
    .footer-logos {
        flex-direction: column !important;
        align-items: center;
    }

    .logo-img-ats {
        height: 25px;
    }

    .logo-img-gc {
        height: 35px;
    }

    .time {
        font-size: 2.5rem;
    }

    .date {
        margin-top: 5px;
        font-size: 1.0rem;
    }

    .footer-logos {
        flex-direction: column !important;
        align-items: center;
    }

    .logo-img-ats {
        height: 25px;
    }

    .logo-img-gc {
        height: 35px;
    }

    .category-header, .category-header-2, .category-header-3, .category-header-4, .category-header-5 {
        text-align: center;
        max-width: 100%;
        padding: 15px;
    }

    .text-section {
        padding-left: 0;
    }

    .welcome-text {
        font-size: 1rem;
    }

    .category-header h1, .category-header-2 h1, .category-header-3 h1, .category-header-4 h1, .category-header-5 h1 {
        font-size: 1.8rem;
    }

    .category-header img, .category-header-2 img, .category-header-3 img, .category-header-4 img, .category-header-5 img {
        height: 80px;
        padding-right: 0;
        margin-top: 10px;
    }

    .employee-info {
        max-width: 100%;
        padding: 12px 15px;
    }

    .employee-info p {
        font-size: 1rem;
    }

    .employee-title {
        font-size: 1.3rem;
    }

    .icon-box {
        padding: 20px;
        font-size: 1.3rem;
    }
}

@media (max-width: 1372px) {
    .main-content-area {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 1440px) {
    .main-content-area {
        flex: 0 0 75%;
        max-width: 75%;
    }
}

@media (min-width: 1440px) and (max-width: 1536px) {
    .change-pw-form {
        max-width: 100%;
    }
}

@media (min-width: 540px) and (max-width: 1280px) {
    .welcome-text {
        text-align: left;
    }

    .category-header, .category-header-2, .category-header-3, .category-header-4, .category-header-5 {
        padding: 25px;
    }
}

@media (max-width: 480px) {
    .category-header, .category-header-2, .category-header-3, .category-header-4, .category-header-5 {
        flex-direction: column;
    }
}

@media (max-width: 1280px) {
    #clock {
        width: 306px;
    }
}

@media (min-width: 1371px) and (max-width: 1536px) {
    #clock {
        width: 466px;
    }
}

@media (max-width: 1280px) {
    #clock {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (min-width: 1745px) {
    #clock {
        width: 466px;
        height: 199px;
    }
}

@media (min-width: 384px) and (max-width: 640px) {
    .time {
        font-size: 2.5rem !important;
    }

    .date {
        font-size: 1rem !important;
    }
}

@media (max-width: 1098px) {    
    .login-form-custom-container {
        max-width: 450px;
        padding: 20px;
        border-radius: 10px;
    }

    .login-form-custom-container-2, .login-form-custom-container-3 {
        display: none;
    }

    .login-logo { 
        padding-left: 20px;
        padding-right: 20px;
    }
}
