#jazzy-logo{
    color: #fff;
}

.jazzmin-login-page {
    background-image: linear-gradient(to right, rgba(0,123,255,1), rgba(32, 201, 151, 1)) !important;
}

.login-box-msg {
    font-size: 20px;
    font-weight: bold;
}